* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.container {
	width: 90%;
	margin: 0 auto;
	padding: 0 5px;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;
	justify-content: space-between;
}

.col-25 {
	flex: 0 0 20%;
}

.col-4 {
	flex: 0 0 33.3333%;
}

.col-6 {
	flex: 0 0 50%;
}

.col-8 {
	flex: 0 0 66.6667%;
}

.col-12 {
	flex: 0 0 100%;
}

.d-2 {
	column-count: 2;
}

[class^=col] {
	padding: 0 5px;
}

input {
	border: 1px solid rgb(255, 140, 45);
	-webkit-appearance: none;
}

#loginform {
	width: 600px;
	max-width: 100%;
	padding: 0 5px;
	margin: 100px auto;
}

#loginform p {
	display: flex;
	align-items: center;
}

#loginform label {
	width: 30%;
}

#loginform input {
	height: 40px;
	line-height: 40px;
	width: 70%;
	padding: 0 15px;
}

#loginform input[type=submit] {
	width: auto;
	background-color: rgb(255, 140, 45);
	border: 0;
	padding: 0 20px;
	margin-left: 30%;
}

.App {
	padding: 30px 0;
}

h3 {
	margin: 0 0 10px;
}

p {
	margin: 3px 0;
	display: inline-block;
	width: 100%;
	word-break: break-all;
}

.options {
	margin-bottom: 30px;
}

.options label {
	margin-right: 15px;
	font-size: 20px;
	display: inline-block;
}

.paste-input {
	margin-top: 30px;
}

select {
	padding: 7px 15px;
	font-size: 20px;
}

textarea,
.second-input {
	width: 100%;
	max-width: 100%;
	height: 300px;
	padding: 10px;
	margin: 30px 0 10px;
	font-size: 15px;
	line-height: 1.6;
	border-radius: 4px;
	border: 1px solid;
	background: #f9f9f9;
	overflow-y: scroll;
}

button {
	background-color: hsl(242deg 98% 66%);
	border: 0;
	color: #fff;
	padding: 10px 25px;
	margin: 20px 60px 20px 0;
	font-size: 20px;
	border-radius: 4px;
	cursor: pointer;
	outline: none
}

button:hover {
	background-color: hsl(242deg 51% 46%);
}

.bg-orange {
	background-color: hsl(22deg 100% 62%);
}

.bg-orange:hover {
	background-color: hsl(22deg 83% 58%);
}

.bg-red {
	background-color: hsl(0deg 100% 62%);
}

.bg-red:hover {
	background-color: hsl(0deg 63% 49%);
}

.bg-brown {
	background-color: hsl(16deg 25% 38%);
}

.bg-brown:hover {
	background-color: hsl(16deg 25% 38%);
}

.hit {
	color: red;
	font-weight: bold;
}

.bold {
	font-weight: bold;
	font-size: 1.1em;
}

.warning {
	background-color: red;
}

.final-result {
	font-size: 1.5em;
}

.third-input {
	margin: 0 0 20px;
	/* background: #f9f9f9;
	border: 1px solid;
	border-radius: 4px; */
	/* padding: 10px; */
	height: auto;
}

.divide-2 {
	column-count: 2;
}

.divide-3 {
	column-count: 3;
}

@media (max-width:991px) {
	.container {
		padding: 0 20px;
		width: calc( 100% - 20px );
	}

	.col-25 {
		flex: 0 0 50%;
	}

	.row {
		margin: 0 -20px;
	}

	[class^=col] {
		padding: 0 20px;
	}

	.options {
		margin-bottom: 0;
	}

	.options label {
		font-size: 2.5em;
		width: 30%;
	}

	.options select {
		min-width: 100px;
		font-size: 3em;
	}

	.options div {
		margin: 10px 0;
	}

	button {
		font-size: 3em;
		margin-right: 30px;
	}

	.home .warning {
		font-size: 3em;
		color: #fff;
		text-align: center;
		padding: 15px 0;
		width: 100%;
	}

	#loginform {
		width: 90%;
	}

	#loginform p {
		margin: 30px 0;
	}

	#loginform label {
		font-size: 3em;
	}

	#loginform input {
		font-size: 3em;
		height: 100px;
		line-height: 100px;
	}

	#loginform input[type=submit] {
		padding: 0 40px;
	}
}